<div class="modal fade vertical-center manual-rating-modal" id="modal-manual-ratings-approv"
     tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title highlight" id="manual-rating-form-title"
                    translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.MANUAL_RATING_FORM">
                    Manual Rating Form</h4>
            </div>
            <div class="modal-body clearfix has-sidebar">

                <div class="toggle-side-bar manual-ratings-form">


                    <form class="form-horizontal">

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="rating-table-name" class="control-label"
                                       translate="application.app.common.labels.TABLE">Table</label>
                                <input type="text" class="form-control input-text"
                                       id="rating-table-name" placeholder="" readonly="readonly"
                                       ng-model="submitForm.table.name" data-toggle="tooltip"
                                       data-placement="bottom" title="Table name"/>
                            </div>

                            <div class="col-xs-6">
                                <label for="rating-created-by" class="control-label"
                                       translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.COLHEADERS.CREATED_BY">Created
                                    By</label>
                                <input type="text" class="form-control input-text"
                                       id="rating-created-by" placeholder="" readonly="readonly"
                                       ng-model="submitForm.createdByUser" data-toggle="tooltip"
                                       data-placement="bottom" title="Created by"/>
                            </div>

                        </div>
                    </form>

                    <div class="form-control-separator"></div>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.COLHEADERS.START_TIME">Start Time</span><span
                                            style="color:red">*</span>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" id="dropdown3" role="button"
                                               data-toggle="dropdown" data-target="#">
                                                <div class="input-group"><input type="text"
                                                                                class="form-control"
                                                                                value="{{submitForm.startDtm | formatTime1}}"><span
                                                        class="input-group-addon"><i
                                                        class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu" role="menu"
                                                aria-labelledby="dLabel" style="max-width: 338px;">
                                                <datetimepicker data-ng-model="submitForm.startDtm"
                                                                data-datetimepicker-config="{ startView:'minute', minView:'minute',dropdownSelector: '#dropdown3' }"
                                                                data-on-set-time="onTimeSetSubmit(newDate, oldDate)" data-before-render="beforeRenderStartDate($view, $dates)" readonly/>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.COLHEADERS.STOP_TIME">Stop Time </span>
                                        <a href="javascript:void(0);" ng-click="vm.clearEndTime('SUBMIT');" ng-if="submitForm.endDtm">clear</a>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" id="dropdown4" role="button"
                                               data-toggle="dropdown" data-target="#">
                                                <div class="input-group"><input type="text"
                                                                                class="form-control"
                                                                                value="{{submitForm.endDtm | formatTime }}"><span
                                                        class="input-group-addon"><i
                                                        class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </a>
                                            <ul class="dropdown-menu" role="menu"
                                                aria-labelledby="dLabel" style="max-width: 338px;">
                                                <datetimepicker data-ng-model="submitForm.endDtm"
                                                                data-datetimepicker-config="{ startView:'minute', minView:'minute',dropdownSelector: '#dropdown4', renderOn: 'START_TIME_CHANGED' }"
                                                                data-before-render="vm.beforeRenderDate1($view, $dates, $leftDate, $upDate, $rightDate)"
                                                                data-on-set-time="onEndTimeSet1(newDate, oldDate)" readonly/>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.COLHEADERS.TOTAL_TIME">Total Time</span>
                                        <input type="text" class="form-control input-text"
                                               id="rating-total-time-played" readonly="readonly"
                                               ng-model="submitForm.totalTime" data-toggle="tooltip"
                                               data-placement="bottom" title="Total time played"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="form-control-separator"></div>

                    <form class="form-horizontal" name="ratingForm">
                        <div class="form-group">
                            <div class="col-xs-5">
                                <label for="rating-player-id" class="control-label"><span
                                        translate="application.app.common.labels.PLAYER ">Player</span><span
                                        style="color:red">*</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-text hover" readonly
                                           id="rating-player-id" placeholder="Enter Player ID"
                                           ng-model="submitForm.player.name"/>
                                    <a class="input-group-addon player-search-btn not-visible">
                                        <div class="glyphicon icon-search2"></div>

                                        <div class="search-loader not-visible">
                                            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                          <path opacity="0.3" fill="#bb9156" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                                          <path fill="#bb9156" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z">
                                            <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.75s" repeatCount="indefinite"/>
                                          </path>
                                        </svg>
                                        </div>
                                    </a>

                                </div>
                            </div>

                            <div class="col-xs-3">
                                <label for="rating-irc-no" class="control-label"><span
                                        translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.COLHEADERS.IRC_NO">MID No.</span></label>
                                <input type="number" ng-keypress="filterInput1($event)"
                                       class="form-control input-text hover" id="rating-irc-no"
                                       placeholder="{{ 'application.app.common.labels.ENTER_IRCNUM' | translate}}" ng-model="submitForm.ircNumber"
                                       limit-to="20"
                                       ng-paste="handlePaste($event)"/>
                                <p ng-show="submitForm.ircNumber < 0" class="help-block"
                                   translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.IRC_NO_CANNOT_BE_NEGATIVE">
                                    MID No. cannot be negative</p>
                            </div>

                            <div class="col-xs-4">
                                <label for="rating-seat-id" class="control-label"><span
                                        translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.COLHEADERS.SEAT_NUMBER">Seat Number</span><span
                                        style="color:red">*</span></label>

                                <div class="number-selector">
                                    <input type="text" readonly
                                           class="form-control input-text input-number-selector editable"
                                           id="rating-seat-id" placeholder=""
                                           ng-model="submitForm.seatIdx"/>

                                    <div class=number-selector-btns>
                                        <a href="" class="number-selector-btn number-selector-increase"
                                           ng-click="vm.changeNumber('inc')">
                                            <span class="caret caret-up"></span>
                                        </a>
                                        <a href="" class="number-selector-btn number-selector-decrease"
                                           ng-click="vm.changeNumber('dec')">
                                            <span class="caret"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="form-control-separator"></div>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-4">
                                <label for="rating-cash-buyin"><span
                                        translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.COLHEADERS.CASH_BUY_IN">Cash Buy In</span></label>
                                <div>
                                    <input type="number"
                                           class="form-control input-text hover text-right active"
                                           id="submitForm.cashBuyIn" placeholder="Enter buyin value"
                                           ng-model="submitForm.cashBuyIn"
                                           ng-keypress="filterInput($event)"
                                           ng-paste="handlePaste($event)"/>

                                <p ng-show="submitForm.cashBuyIn < 0" class="help-block">
                                    <span  translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.CASH_BUY_IN_CANNOT_BE_NEGATIVE"></span>
                                </p>
                            </div>
                        </div>

                            <div class="col-xs-4">
                                <label for="rating-average-bet"><span
                                        translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.COLHEADERS.AVERAGE_BET">Average Bet</span><span
                                        style="color:red">*</span></label>
                                <input type="number"
                                       class="form-control input-text hover text-right active"
                                       id="submitForm.avgBet"
                                       placeholder="Enter average bet value"
                                       ng-model="submitForm.avgBet" ng-keypress="filterInput($event)"
                                       ng-paste="handlePaste($event)"/>
                                <p ng-show="submitForm.avgBet < 0" class="help-block">
                                    <span  translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.AVG_BET_CANNOT_BE_NEGATIVE"></span>
                                </p>
                            </div>

                            <div class="col-xs-4">
                                <label for="rating-average-bet"><span
                                        translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.COLHEADERS.CASINO_WL">Casino W/L </span><span
                                        style="color:red">*</span></label>
                                <input type="number"
                                       class="form-control input-text hover text-right active"
                                       id="submitForm.casinoWin"
                                       placeholder="Enter casino W/L value"
                                       ng-model="submitForm.casinoWin" ng-keypress="filterInput($event)"
                                       ng-paste="handlePaste($event)"/>
                            </div>
                        </div>
                    </form><!--{{rating.player.casinoPlayer.imageUrl}}-->

                    <div class="form-control-separator"></div>


                </div>
                <div class="show-side-bar">
                    <h4 translate="application.app.TABLE_DASH_LABELS.MANUAL_RATINGS.PLAYER_SEARCH_RESULT">
                        Player Search Result</h4>

                    <div class="show-search-result">
                        <div class="player-image">
                            <div class="search-loader text-center" ng-if="playerImageloader">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                      <path opacity="0.3" fill="#bb9156" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                                      <path fill="#bb9156" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z">
                                        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.75s" repeatCount="indefinite"/>
                                      </path>
                                </svg>
                            </div>
                            <img ng-if="!playerImageloader" check-image  ng-src="{{rating.player.casinoPlayer.imageUrl}}" width="100%" height="100%"/>
                        </div>
                        <ul class="list-unstyled list-players manual-ratings">
                            <li contenteditable="false" class="list-item selected no-select">
                                <span class="item-data-label">{{rating.player.casinoPlayer.lastName}}, {{rating.player.casinoPlayer.firstName}}</span>
                                <span class="pull-right">{{rating.player.casinoPlayer.casinoPlayerId}}</span>
                            </li>
                        </ul>

                    </div>

                </div>



            </div>


            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 pull-right">
                        <!--Create permission -->
                        <button class="btn btn-primary btn-margins" ng-if="vm.createPermission || vm.approvePermission"
                                translate="application.app.common.labels.CANCEL_RATING"
                                ng-click="vm.cancelManualRating()"
                                ng-disabled="vm.formValidateForUpdateSave()">Cancel Rating
                        </button>

                        <!--<button class="btn btn-primary btn-margins" ng-if="vm.createPermission && vm.approvePermission"-->
                                <!--ng-click="vm.saveRating()"-->
                                <!--ng-disabled="vm.formValidateForUpdateSave()"-->
                                <!--translate="application.app.common.labels.SAVE">-->
                            <!--SAVE-->
                        <!--</button>-->
                        <button class="btn btn-primary btn-margins" ng-if="vm.createPermission && vm.approvePermission"
                                ng-click="vm.submitManualRating()"
                                ng-disabled="vm.formValidateForSubmit()"
                                translate="application.app.common.labels.SUBMIT">
                            SUBMIT
                        </button>

                        <!-- Approve -->
                        <!--<button class="btn btn-primary btn-margins" ng-click="vm.saveRating()"-->
                                <!--translate="application.app.common.labels.SAVE" ng-if="!vm.createPermission && vm.approvePermission"-->
                                <!--ng-disabled="vm.formValidateForUpdateSave()">Save-->
                        <!--</button>-->
                        <button class="btn btn-primary btn-margins" ng-if="!vm.createPermission && vm.approvePermission"
                                translate="application.app.common.labels.TOPSUBNAV.APPROVE"
                                ng-click="vm.approveManualRating()"
                                ng-disabled="vm.formValidateForSubmit()">Approve
                        </button>
                        <a href="" class="btn btn-secondary btn-margins"
                           data-dismiss="modal" translate="application.app.common.labels.CLOSE">Close</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>