$white: #ffffff;
$light-gray: #e6e6e6;
$gray: #cccccc;
$darker-gray: #808080;
$dark-gray: #333333;
$black: #000000;
$lighter-gold: #eee7dd;
$light-gold: #d9cb9e;
$gold: #bb9156;
$error-red: #dc3522;
$red: #9c1c23;
$dark-red: #7d161b;
$cyan: #23a6ad;
$green: #22b573;
$rad: 6px;