.roll-time-modal {
  .modal-content {
    &.has-sticky-header {
      padding-top: 135px;

      .modal-sticky-header {
        height: 135px;
      }
    }

    &.has-sticky-footer {
      padding-bottom: 60px;

      .modal-sticky-footer {
        height: 88px;
      }
    }
  }

  &.auto-height {
    .modal-dialog {
      width: 50%;
      height: calc(100% - 20px);
      margin: 10px auto 0;
    }

    .modal-content {
      background-color: $lighter-gold;
      display: block;
      height: 100%;
      overflow: auto;
      transition-duration: 0.3s;
    }
  }

  p.text-info {
    color: #ff562d;
  }

  .table-default td.aligned-top {
    vertical-align: top;
  }

  .bootstrap-datetimepicker-widget.dropdown-menu {
    min-width: 230px;
    width: 270px;
  }

  .form-group {
    margin-bottom: 0;
  }

  .breadcrumb {
    background-color: transparent;
    padding: 0;

    > li {
      color: #555555;

      &.highlight {
        color: #9c1c23;
      }
    }
  }

  td.md-width {
    width: 70%;
  }
}