.filters-slider {
  .filters-slider-header {
    font-size: 36px;
    text-align: center;
  }

  .filters-slider-range {
    position: relative;
    height: 4px;
    margin: 20px 35px 10px;
    text-align: left;
    background-color: #f2ede5;
    border-radius: 2px;
    box-shadow: 1px 1px 0 rgba(187, 145, 86, 0.5);
  }

  .ui-slider-range {
    position: absolute;
    height: 100%;
    background-color: $gold;
  }

  .ui-slider-handle {
    position: absolute;
    top: -8px;
    width: 20px;
    height: 20px;
    margin-left: -11px;
    cursor: pointer;
    background-color: $light-gold;
    border-radius: 50%;
    outline: none;
    box-shadow: 1px 1px 0 rgba(187, 145, 86, 0.65);

    &:hover, &:active {
      background-color: $gold;
    }

    &:active:after {
      opacity: 0.5;
    }

    &.keyboard-focus:focus {
      background-color: $cyan;
    }

    &:after {
      @include icon(12px, 11px, "slider-handle");
      position: absolute;
      top: 50%;
      left: 50%;
      content: ' ';
      transform: translate(-50%, -50%);
    }
  }

  .filters-slider-footer {
    margin: 0 35px;
    color: $gold;

    .separator-right {
      border-right: 1px solid $light-gold;
    }
  }

  .filters-slider-scale {
    display: flex;
    justify-content: space-between;

    .filters-slider-scale-line {
      width: 1px;
      height: 12px;
      background-color: $light-gold;

      &.line-lg {
        height: 20px;
      }
    }
  }

  .filters-slider-percentages {
    display: flex;
    width: 75%;
    margin: 0 12.5%;
    color: #808080;
    justify-content: space-around;
  }
}

srv-filter-drop-down[disabled="disabled"] {
  pointer-events: none;
  cursor: default;
  .dropdown button{
      background-color: #e2dcd2;
      color: rgba(188, 146, 87, 0.74);
      border-color: rgba(169, 143, 107, 0.49);
  }
}

.filters-with-button{
  float: left;
  width: calc(100% - 270px);
  &.five-buttons srv-filter-drop-down{
    width: 20%;
  }
  + .buttons-wrapper{
    margin: 20px 15px 0 0;
    float: right
  }
}