.modal-open .modal-game-details {
  overflow: hidden;
}

.modal-game-details {
  .modal-dialog,
  .modal-content,
  .modal-sticky-header.navbar-fixed-top,
  .modal-body,
  .modal-sticky-footer.navbar-fixed-bottom {
    background-color: $lighter-gold;
  }

  .modal-content {
    &.has-sticky-header {
      .modal-sticky-header,
      .modal-sticky-footer {
        height: auto;
        padding-top: 10px;
        box-shadow: $gold 0 0 15px;
      }

      .modal-sticky-header {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        padding-bottom: 10px;
      }

      .modal-sticky-footer {
        min-height: 120px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .tab-content-header-title {
          color: #333;
          float: right;
        }

        .modal-footer {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }

    &.has-sticky-header .modal-sticky-header hr,
    .modal-sticky-footer hr {
      margin: 10px 0;
      border-color: rgba(0, 0, 0, 0.2);
    }
  }

  .modal-dialog {
    width: 98%;
  }

  .modal-footer {
    margin-top: 10px;
  }

  .modal-body {
    overflow-y: auto;
    position: relative;
    top: 70px;
    min-height: 300px;
    height: calc(100vh - 200px);

    .game-player-card {
      .game-player-card-wrapper {
        padding: 4px;
        border-radius: 5px;
      }

      &.has-multiple-players {
        .game-player-card-content {
          margin-bottom: 160px;
          backface-visibility: visible;
        }

        .game-player-card-content {
          .game-player-known,
          .game-player-backbetter {
            padding-bottom: 15px;
            border-bottom: 1px solid #e6e6e6;
          }
        }
      }
    }
  }

  .cards-on-left {
    border-right: 2px solid #bb9156;
    margin-right: -15px;
  }

  .shoe-cards-container {
    border: none;

    .shoe-card-cover {
      min-width: 60px;
      width: auto;

      .shoe-card {
        width: 50px;
        height: 70px;
        display: inline-block;
        vertical-align: middle;


        &.landscape {
          margin-left: 10px;
        }

        &.counter-landscape {
          margin-right: 10px;
        }

        .card-value {
          font-size: 36px;
        }
      }
    }
  }

  .cards-on-right .shoe-cards-container {
    margin-left: -34px;
  }

  .icon-suit-clubs,
  .icon-suit-hearts,
  .icon-suit-diamonds,
  .icon-suit-spades {
    width: 15px;
    height: 15px;
  }

  .supervisor-footer-content {
    width: 100%;

    .item-data-label {
      font-size: 20px;
    }

    .item-data-value {
      text-align: right;
      font-size: 20px;
    }

    &:hover, &:active {
      background-color: #9c1c23;
      cursor: pointer;

      .item-data-value {
        color: $white;
      }
    }
  }

  .tab-content-header-title {
    text-transform: none;
  }

  .game-player-wrapper,
  .game-player-backbetter .game-player-wrapper {
    .game-player-image {
      width: 48px;
      height: 48px;
      margin: 0;
    }
  }
}


.modal-game-details .supervisor-footer-content {
  .item-data-label {
    font-size: 20px !important;
  }

  .item-data-value {
    font-size: 20px !important;
  }
}

