.left {
  float: left;
}

.right {
  float: right;
}

.row {
  margin: 0;
}

.row_margin {
  position: relative;
  top: 40px;
  left: 5%;
  width: 90%;
}

.row_margin_enroll {
  position: relative;
  top: 50px;
  width: 100%;
}

.tt {
  font-size: 28px;
  margin-top: 15px;
  vertical-align: middle;
  color: $light-gold;
}

.tb {
  margin-top: 10%;
  margin-left: 5%;
}

.sp, .sp1 {
  font-weight: 900;
  color: $red;
}

.sp {
  font-size: 30px !important;
}

.sp1 {
  font-size: 40px !important;
}

.spchange, .spchange1, .spchange2 {
  float: left;
  font-weight: 700;
}

.spchange {
  margin-left: 30px;
  color: $red;
  font-size: 28px !important;
}

.spchange2 {
  margin-left: 30px;
  color: $gold;
}

.spchange1 {
  color: #9c1c23;
  margin-left: 180px;
  font-size:28px !important;
}

.spchip {
  color: rgb(27, 171, 94);
  float: left;
  font-size: 40px !important;
  font-weight: 900;
  margin-top: 27px;
  margin-left: 30px;
}

.dp2 {
  margin-right: 0;
}

.dp1 {
  margin-right: 11px;
}

.divm1 {
  float: right;
  margin-top: 6%;
  margin-right: 54px;
}

.divm2 {
  float: left;
  margin-top: 60px;
  margin-right: 54px;
  width: 100%;
}

.changediv {
  left: 2%;
}

.span6 {
  margin-top: 10px;
  width: 70%;
  margin-left: 15% !important;
}

.span7 {
  width: 80%;
  margin-top: 0;
  margin-left: 15%;

  &.main.changediv > div:nth-child(1) {
    margin-top: 10px;
  }
}

.span8 {
  width: 70%;
  margin-left: 20%;
}

.m-c {
  min-width: 60%;
  height: 100%;
}

[class*="span"] {
  margin-left: 0;
}
.chipdetail{
  margin-top: 30px;
}