<br/>
<br/><br/><br/>

<div class="content">

  <div class="content-row">
    <div class="full-width">{{input}}</div>
  </div>

  <div class="content-row">
    <div class="big-width" (click)="clear()">AC</div>
    <div class="normal-width normal-width-color" (click)="pressOp('/')">/</div>
  </div>

  <div class="content-row">
    <div class="normal-width" (click)="pressNum('7')">7</div>
    <div class="normal-width" (click)="pressNum('8')">8</div>
    <div class="normal-width" (click)="pressNum('9')">9</div>
    <div class="normal-width normal-width-color" (click)="pressOp('*')">*</div>
  </div>

  <div class="content-row">
    <div class="normal-width" (click)="pressNum('4')">4</div>
    <div class="normal-width" (click)="pressNum('5')">5</div>
    <div class="normal-width" (click)="pressNum('6')">6</div>
      <div class="normal-width normal-width-color" (click)="pressOp('-')">-</div>
  </div>

  <div class="content-row">
    <div class="normal-width" (click)="pressNum('1')">1</div>
    <div class="normal-width" (click)="pressNum('2')">2</div>
    <div class="normal-width" (click)="pressNum('3')">3</div>
      <div class="normal-width normal-width-color" (click)="pressOp('+')">+</div>
  </div>

  <div class="content-row">
    <div class="big-width" (click)="pressNum('7')">0</div>
    <div class="normal-width normal-width-color" (click)="getAnswer()">=</div>
  </div>
</div>
