@import
"~common-ui/styles/colors",
"~common-ui/styles/variables",
"~common-ui/styles/mixins",
"~common-ui/styles/button",
"~common-ui/styles/common",
"~src/styles/mixins-local";

.host-call-dialog {
  &__title {
    @include dialog-title;

    .close-btn {
      @include close-button;
    }
  }

  &__content-wrapper {
    @include dialog-body-content;
    padding: 0 8vw;
  }

  &__footer {
    @include dialog-footer-controls;

    .common-button {
      @include make-common-button;

      &[disabled]{
        color: $black-alpha85;
      }

      &:nth-of-type(2){
        margin-left: 1%;
      }
    }
  }

  &__content-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    > .mat-form-field {
      margin-left: 0.5vw;
      font-weight: $font-base-weight;
      max-width: 12vw;
    }

  }
}

.content-full-length {
  width: 100%;

  &.mat-form-field {
    font-weight: $font-base-weight;

    .mat-form-field-flux {
      background-color: $black-alpha95;
      padding: 0.75em 0.75em 0 0.75em;
      border-radius: 4px 4px 0 0;
    }
  }
}

.form-control__wrapper {
  display: flex;
  flex-direction: column;
}
