//
@mixin brand {
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    height: 100%;
  }

  &__logo-img {
    width: 48px;
    height: 52px;
    margin-right: 0.5rem;
    user-select: none;
  }

  &__name {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    user-select: none;
  }
}
